In [1]:
#1 
for number in range(1, 11):
    # Check if the number is 5
    if number == 5:
        # If the number is 5, stop the loop
        break
    # Print the number if it's not 5
    print(number)

1
2
3
4

In [2]:
#2 
number = 1
total = 0

# Use a while loop to iterate from 1 to 10 and calculate the sum
while number <= 10:
    total += number  # Add the current number to the total
    number += 1      # Increment the number for the next iteration

# Print the sum of numbers from 1 to 10
print("The sum of numbers from 1 to 10 is:", total)

The sum of numbers from 1 to 10 is: 55

In [3]:
#3 
# Iterate through numbers from 1 to 10
for number in range(1, 11):
    # Check if the number is even
    if number % 2 == 0:
        # If the number is even, skip it
        continue
    # Print the number if it's odd
    print(number)

1
3
5
7
9

In [4]:
#4
# Using range() to print numbers from 0 to 9
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [5]:
#5
# Iterate through numbers from 1 to 5
for number in range(1, 6):
    print(f"Multiplication table for {number}:")
    # Iterate through multipliers from 1 to 10
    for multiplier in range(1, 11):
        # Print the multiplication result
        print(f"{number} * {multiplier} = {number * multiplier}")
    print()  # Print a blank line after each table

Multiplication table for 1:
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

Multiplication table for 2:
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Multiplication table for 3:
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

Multiplication table for 4:
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Multiplication table for 5:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [6]:
#6
number = 1

# Using a while loop to print numbers and skip even numbers
while number <= 10:
    # Check if the number is even
    if number % 2 == 0:
        # If the number is even, skip printing
        number += 1
        continue
    # Print the number if it's odd
    print(number)
    # Move to the next number
    number += 1

1
3
5
7
9